*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
button{
    font-size: 40px;
    font-family: sans-serif;
    font-family: 600;
    padding: 20px 25px;
    background-color: white;
    border: 1.5px solid #000;
    border-radius: 15px;
    cursor: pointer;
}
button:active{
    scale: 0.95;
}